.scoreBoard {
	align-content: center;
}

#alpha li {
  float:left;
  margin: 0 10px 10px 0;
  list-style:none;
  width:35px;
  height:30px;
  padding-top:10px;
  background:$black;
  color:$base-color;
  cursor:pointer;
  @include corners(5px);
  border: solid 1px $red;
    
    &:hover{
      background:$base-color;
      border: solid 1px $grey;
      color:$grey;
    }
}